@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles */
.drag-to-scroll {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary) var(--primary);
}

.drag-to-scroll::-webkit-scrollbar {
    width: 15px;
}

#to-top.active {
    pointer-events: auto;
    opacity: 0.9;
}

@import 'tailwindcss/defaultTheme';